<!DUCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action="insertData">
		<table align="center" border="1">
		<tr>
			<td>Enter Name</td>
			<td><input type="text" name="nm" ></td>
		</tr>
		
		<tr>
			<td>Addrass</td>
			<td><textarea name="add"></textarea>></td>
		</tr>
		<tr>
			<td>Enter Salary</td>
			<td><input type="number" name="sal"></td>
		</tr>
		<tr>
			<td>Enter Mobile</td>
			<td><input type="text" name="mb"></td>
		</tr>
		<tr>
			<td>ClickM!!</td>
			<td><input type="submit" name="btn" value="save"></td>
		</tr>
	</table>
</form>
</body>
</html>
