<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<table border="1">
		<tr>
			<td>Enter Name</td>
			<td><input type="text" name="nm" placeholder="Enter name here"></td>
		</tr>
		<tr>
			<td>Enter e-mail</td>
			<td><input type="mail" name="email" maxlength="30" placeholder="Enter e-mail here"></td>
		</tr>
		<tr>
			<td>Enter Password</td>
			<td><input type="Password" name="upass" placeholder="Enter Password here"></td>
		</tr>
		<tr>
			<td>Enter Age</td>
			<td><input type="number" name="uage" max="60" min="18"></td>
		</tr>
		<tr>
			<td>DOB</td>
			<td><input type="date" name="udob"></td>
		</tr>
		<tr>
			<td>Select Education</td>
			<td><select name="uedu" id="uedu"><option value="ug">Under Graduat</option>
				                              <option value="gd"> Graduat</option>
				                              <option value="pg">post Graduat</option>
			</select></td>
		</tr>
		<tr>
			<td>Selct Gender</td>
			<td><input type="radio" name="ugn" value="m">male
                <input type="radio" name="ugn" value="f">female
                <input type="radio" name="ugn" value="o">Other
			 </td>
		</tr>
		<tr>
			<td>Addrass</td>
			<td><textarea id="uadd"></textarea>></td>
		</tr>
		<tr>
			<td>Select Color</td>
			<td><input type="color" name="fclr"></td>
		</tr>
		<tr>
			<td>ClickM!!</td>
			<td><input type="submit" name="btn" value="save"></td>
		</tr>
	</table>
</body>
</html>
